.hero{
    height: 100vh;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    display:flex ;
    padding: 10px 10px;
}
.heroleft{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 187px;
    line-height: 1.1;
}
.heroleft h2{
    color: black;
    font-size: 26px;
    font-weight: 500;
    padding-right:0;
    text-align: left;
}
.heroleft p{
    color: black;
    font-size: 100px;
    font-weight: 700;
}
.handhandicon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.handhandicon img{
    width: 105px;
}
.herolatestbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 310px;
    height: 70px;
    border-radius:75px ;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}.herolatestbutton a{
    text-decoration: none;
    color: black;
}
.heroright{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}